<launch>
  <arg name="move_base" default="false"/>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

   <!-- Gmapping -->
  <include file="$(find turtlebot_navigation)/launch/includes/gmapping/gmapping.launch.xml">
    <arg name="scan_topic" value="scan" />
  </include>

  <!-- Move base -->
  <group if="$(arg move_base)">
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  </group>
</launch>
